{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static "css/blog.css" %}">

    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      
</head>
<body>
	<div class="page-header">
		<h1><a href='/'>Blog</a></h1>
		<div><a href="/post/new/">Add Post</a></div>
	</div>
	{% block content %}
	<h1 > Welcome!!! Guest </h1>
	<br>
	<h2> <a href="/login/">Log In</a>
	&nbsp&nbsp&nbsp&nbsp&nbsp
	<a href="/register/">Register</a>
	
	&nbsp&nbsp&nbsp&nbsp&nbsp
	<a href="/admin/">Admin Log In</a>

	</h2>

	


    {% endblock %}

</body>
</html>