{%extends "blogapp/base.html"%}

{% block content %}
<h1> Timeline</h1>

{% for post in posts %}
	

    <div class="post">

        
        <h1><a href="{%url "post_detail" pk=post.pk %}">Title: {{ post.title }}</a></h1>
        <p style="color:Blue">Post: {{ post.text }}</p>
        <p>Author: {{post.author}}
        <div class="date">Date: {{ post.published_date }}
        </div>
        <a class="btn btn-default" href="{%url "post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
    </div>
<br>
    
{% endfor %}

{% endblock content %}